{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 160,
    "useTabs": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "singleQuote": true,
    "bracketSameLine": false,
    "endOfLine": "crlf",
    "arrowParens": "avoid",
    "trailingComma": "es5"
}
