body {
	background-color: #fff;
	font-family: 'PingFang';
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
		display: none;
	}
}

.view {
	background: transparent;
}
a {
	text-decoration: none;
}
